<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Ghost Runtime Error</title>

    <link rel="stylesheet" href="/ghost/css/ghost.css">
</head>
<body class="bg-gray-100 text-gray-900 m-12">
    <main class="w-full max-w-6xl mx-auto">
        <div class="bg-white border border-gray-200 p-12">
            <h1 class="text-xl text-gray-500">Parse Error</h1>
            <h2 class="text-lg font-bold">{{.Message}}</h2>
            <span>{{.Host}}{{.Path}}</span>
        </div>
    </main>
</body>
</html>